<!-- Footer -->
<footer class="page-footer font-small secondary-color lighten-1 pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <!-- Content -->
        <section>
          <h5>Company</h5>
          <div class="textwidget">
            <p>
                <i>
                  <b>
                    <a  target="_blank" title="Cty MTV Nhất Linh Nhi">Cty MTV Nhất Linh Nhi</a>
                  </b> là đơn vị hoạt động đa ngành nghề, đa lĩnh vực với một chuỗi hệ thống công ty lớn nhỏ trong địa bàn tỉnh Đồng Nai. Với những cơ sở nền tảng đó, chúng tôi quyết tâm không ngừng nỗ lực xây dựng và
                  phát triển Cty MTV Nhat Linh Nhi thành tập đoàn kinh tế lớn mạnh trong khu vực.</i>
              </p>
              <p>
                <i>
                  <b>
                    <a  target="_blank" title="Cty MTV Nhất Linh Nhi">Cty MTV Nhất Linh Nhi</a>
                  </b> is a units operating in multiple fields with the system of subsidiary companies in Dong Nai province. Base on this foundation, we effort everyday to build and develop Hoang Yến
                  Land begining the strong ecomomic corporation in the religion</i>
              </p>
          </div>
        </section>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Content -->
        <section>
          <h5>Liên Hệ</h5>
          <div class="textwidget">
            <p>
              <b>Chi Nhánh:</b>
                <br> Lô 7C1, Khu Phố 2,Đồng Khởi, P. Tân Tiến, Tp. Biên Hòa,Đồng Nai
                <br> Điện Thoại: (0251) 3890048
                <br> Số Fax: (0251) 3898165
                <br> Website: -->
               <a href="https://realestate-b59cc.firebaseapp.com/" title="Bất Động Sản Hoàng Gia Land" target="_blank">https://realestate-b59cc.firebaseapp.com/</a>
            </p>
            <p>
              <b> Trụ Sở Chính : </b>
                <br> Lô 7C1, Khu Phố 2,Đồng Khởi, P. Tân Tiến, Tp. Biên Hòa,Đồng Nai
                <br> Điện Thoại: (0251) 3890048
                <br> Số Fax: (0251) 3898165
                <br> Email:
                <a href="mailto:dntn.nhatlinhnhi@gmail.com">dntn.nhatlinhnhi@gmail.com</a>
              <br> Website:
              <a href="https://realestate-b59cc.firebaseapp.com/" title="Bất Động Sản Hoàng Gia Land" target="_blank">https://realestate-b59cc.firebaseapp.com/</a>
            </p>
          </div>
        </section>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">

        <!-- Content -->
        <section>
          <h5>Thiết Kế Và Phát Triển</h5>
          <div class="textwidget">
            <p>
              <b>IT RU2S Solution :</b>
              <br> Khu Phố 5A - Khu Dân Cư Phú Gia 2, P.Trảng Dài, Biên Hòa, Đồng Nai
              <br> Điện Thoại: 0931.299.882
              <br> Email:
              <a href="mailto:vuongtrongnghia91@gmail.com">vuongtrongnghia91@gmail.com</a>
              <br> Website:
              <a href="https://realestate-b59cc.firebaseapp.com/" title="Bất Động Hoàng Gia Land" target="_blank">https://realestate-b59cc.firebaseapp.com/</a>
            </p>
          </div>
        </section>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://www.ru2s.com"> www.ru2s.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->