<div class="container">
  <mdb-card>
    <!--Card content-->
    <mdb-card-body>

      <!--Title-->
      <mdb-card-title>
        <h4 class="alert alert-primary">Kích Hoạt Tài Khoản</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> 
        Bạn Chưa kích hoạt tài khoản qua email. Hãy vào email của bạn và nhấn vào đường Link được gửi từ firebase để kích hoạt email của bạn.
        Nếu bạn không nhận được email kích hoạt tài khoản. Xin vui lòng nhấn vào nút Gửi link kích hoạt tài khoản.
      </mdb-card-text>

      <a href="#" mdbBtn color="primary" (click)="sendVerifiedEmail()" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>
</div>